<div class='login-container'>

	<p>INICIAR SESION</p>
	<a href='/register'>REGISTRARSE</a>
	<a href='/api/sessions/github'>GITHUB</a>

	<form class='login-form'>
		<label>EMAIL</label>
		<input type='email' name='email' required />

		<label>CONTRASEÑA</label>
		<input type='password' name='password' required />

		<input type='submit' value='Send' class='login-button' />
	</form>

</div>

<script src='/js/login.js'></script>