<div class='register-container'>

	<p>REGISTRATE</p>
	<a href='/login'>INICIAR SESION</a>
	<a href='/api/sessions/github'>GITHUB</a>

	<form class='register-form'>

		<label>NOMBRE</label>
		<input type='text' name='first_name' required />

		<label>APELLIDO</label>
		<input type='text' name='last_name' required />

		<label>EMAIL</label>
		<input type='email' name='email' required />

		<label>CONTRASEÑA</label>
		<input type='password' name='password' required />

		<input type='submit' value='Send' class='register-button' />
	</form>

</div>

<script src='/js/register.js'></script>